[Unit]
Description=mautrix-twitter bridge

[Service]
# N.B. If you didn't create a user with the correct home directory, set this
#      to the directory where config.yaml is (e.g. /opt/mautrix-twitter).
WorkingDirectory=~
ExecStart=/opt/mautrix-twitter/bin/python -m mautrix_twitter
User=mautrix-twitter
SyslogFacility=local4
SyslogIdentifier=mautrix-twitter

[Install]
WantedBy=multi-user.target
