[Unit]
Description=mautrix-telegram bridge
After=matrix-synapse.service

[Service]
# N.B. If you didn't create a user with the correct home directory, set this
#      to the directory where config.yaml is (e.g. /opt/mautrix-telegram).
WorkingDirectory=~
ExecStart=/opt/mautrix-telegram/bin/python -m mautrix_telegram
User=mautrix-telegram
SyslogFacility=local4
SyslogIdentifier=mautrix-telegram

[Install]
WantedBy=multi-user.target
