[Unit]
Description=mautrix-facebook bridge

[Service]
# N.B. If you didn't create a user with the correct home directory, set this
#      to the directory where config.yaml is (e.g. /opt/mautrix-telegram).
WorkingDirectory=~
ExecStart=/opt/mautrix-facebook/bin/python -m mautrix_facebook
User=mautrix-facebook

[Install]
WantedBy=multi-user.target
